.character-dropdown {
  font-size: 24px;
}

.custom-background {
  background-image: url("/images/group.jpg");
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.card1 {
  background-image: url("/images/Park_Jongun.png");
  width: 80%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.card2 {
    background-image: url("/images/Kim_Jungoo.png");
    width: 80%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.card3 {
    background-image: url("/images/Lee_Jihoon.png");
    width: 80%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.card4 {
    background-image: url("/images/Park_Huyungseok.png");
    width: 80%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.lead {
    font-size: 30px;
}

footer a.text-body-light {
  color: #808080; 
}


footer a.text-body-light:hover {
  color: #C0C0C0; 
}

.logo-footer {
  width: 250px;
  height: 125px;
  margin: auto;
  display: block;
}

.footer1,
.footer2,
.footer3 {
  text-align: left;
}

/* Responsive */
@media (max-width: 835px) {
  .card1,
  .card2,
  .card3,
  .card4 {
    width: 100%;
  }
}

/* Media Query เมื่อขนาดหน้าจอเล็กกว่า 376px */
@media (max-width: 376px) {
  .footer1,
  .footer2,
  .footer3 {
      text-align: center;
  }
}

/* Profile */
.profile1 {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-size: cover;
  background-position: center;
}

.profile1 img {
  object-fit: cover;
  width: 100%; 
  height: 100%; 
}